In [115]:
#1
#•Creating a DataFrame from a list of lists
l=[["Lakshmi",18],["Narsitha",19],["Yasaswini",20]]
df=pd.DataFrame(l)
print(df)

           0   1
0    Lakshmi  18
1   Narsitha  19
2  Yasaswini  20

In [116]:
#•Creating a DataFrame from a dict of lists
d={"names":["Lakshmi","Narsitha","Yasaswini"],"age":[18,19,20]}
df1=pd.DataFrame(d)
print(df1)

       names  age
0    Lakshmi   18
1   Narsitha   19
2  Yasaswini   20

In [117]:
##•Creating an index DataFrame from a dict of lists
d1=[{"s1":"Lakshmi","s2":"Narsitha"},{"s1":18,"s2":19}]
df2=pd.DataFrame(d1)
print(df2)

        s1        s2
0  Lakshmi  Narsitha
1       18        19

In [103]:
#2.How to sort rows within a pandas dataframe
import pandas as pd
d={"age":[15,17,19],"gpa":[10,9,7],"sem":[4,6,5]}
df=pd.DataFrame(d)
df1=df.sort_values(by=["sem"])
print(df1)

   age  gpa  sem
0   15   10    4
2   19    7    5
1   17    9    6

In [104]:
#3.How to find the largest value in a pandas dataframe
print(df.max())

age    19
gpa    10
sem     6
dtype: int64

In [105]:
#4. How to list unique value in a pandas dataframe
a={"course":["python","java","c","c","java","c","java"],"sem":[4,5,6,5,7,5,5]}
df2=pd.DataFrame(a)
print(df2["course"].unique())

['python' 'java' 'c']

In [106]:
#5. How to delete duplicates from a pandas dataframe
df3=df2.copy()
print("with duplicates : \n",df3)
print("without duplicates :\n",df3.drop_duplicates())

with duplicates :
    course  sem
0  python    4
1    java    5
2       c    6
3       c    5
4    java    7
5       c    5
6    java    5
without duplicates :
    course  sem
0  python    4
1    java    5
2       c    6
3       c    5
4    java    7

In [107]:
#6. Rename column header in a pandas dataframe
print("before rename :\n",df3)
t={"course":"Programming Languages","sem":"semester"}
df3.rename(columns=t,inplace=True)
print("after rename :\n",df3)

before rename :
    course  sem
0  python    4
1    java    5
2       c    6
3       c    5
4    java    7
5       c    5
6    java    5
after rename :
   Programming Languages  semester
0                python         4
1                  java         5
2                     c         6
3                     c         5
4                  java         7
5                     c         5
6                  java         5

In [108]:
#7. Search pandas dataframe for a value
p=(df3["semester"]==5)
df3.where(p,inplace=True)
print(df3)

  Programming Languages  semester
0                   NaN       NaN
1                  java       5.0
2                   NaN       NaN
3                     c       5.0
4                   NaN       NaN
5                     c       5.0
6                  java       5.0

In [109]:
#8. Drop row and column in a pandas dataframe
d={"age":[10,15,17,18,19],"name":["Lakshmi","Narsitha","Yasaswini","Srushti","Smita"],"place":["Hyderabad","Banglore","Delhi","Bhopal","Chennai"]}
df=pd.DataFrame(d)
print(df)
print("droping rows : \n")
df.drop([1,2],axis=0,inplace=True)
print(df)
print("dropping columns :\n")
df.drop("place",axis=1,inplace=True)
print(df)

   age       name      place
0   10    Lakshmi  Hyderabad
1   15   Narsitha   Banglore
2   17  Yasaswini      Delhi
3   18    Srushti     Bhopal
4   19      Smita    Chennai
droping rows :

   age     name      place
0   10  Lakshmi  Hyderabad
3   18  Srushti     Bhopal
4   19    Smita    Chennai
dropping columns :

   age     name
0   10  Lakshmi
3   18  Srushti
4   19    Smita

In [110]:
#9. How to filter in a pandas dataframe
d={"age":[10,15,17,18,19],"name":["Lakshmi","Narsitha","Yasaswini","Srushti","Smita"],"place":["Hyderabad","Banglore","Delhi","Bhopal","Chennai"]}
df=pd.DataFrame(d)
print(df)
df[0:3]

   age       name      place
0   10    Lakshmi  Hyderabad
1   15   Narsitha   Banglore
2   17  Yasaswini      Delhi
3   18    Srushti     Bhopal
4   19      Smita    Chennai

   age       name      place
0   10    Lakshmi  Hyderabad
1   15   Narsitha   Banglore
2   17  Yasaswini      Delhi

In [111]:
#10. How to calculate moving average in a pandas dataframe
import numpy as np
d={"age":[10,15,16,17,18],"marks":[90,99,98,97,96]}
df=pd.DataFrame(d)
df["mv"]=df["age"].rolling(3).mean()
print(df)

   age  marks         mv
0   10     90        NaN
1   15     99        NaN
2   16     98  13.666667
3   17     97  16.000000
4   18     96  17.000000

In [ ]:
#11. How to normalise a column in a pandas dataframe

In [112]:
#12. How to assign new columns in a pandas dataframe
df["sem"]=[4,5,6,7,8]
print(df)

   age  marks         mv  sem
0   10     90        NaN    4
1   15     99        NaN    5
2   16     98  13.666667    6
3   17     97  16.000000    7
4   18     96  17.000000    8

In [113]:
#13. How to rank a pandas dataframe in ascending and descending order
d={"age":[10,15,16,17,18],"marks":[90,99,98,97,96],"sem":[7,5,6,2,4]}
df=pd.DataFrame(d)
df["rank"]=df["marks"].rank(ascending=False)
print(df)

   age  marks  sem  rank
0   10     90    7   5.0
1   15     99    5   1.0
2   16     98    6   2.0
3   17     97    2   3.0
4   18     96    4   4.0

In [114]:
#14.Add row to a DataFrame
df.loc[len(df.index)]=[19,94,5,5]
print(df)

   age  marks  sem  rank
0   10     90    7   5.0
1   15     99    5   1.0
2   16     98    6   2.0
3   17     97    2   3.0
4   18     96    4   4.0
5   19     94    5   5.0