In [1]:
import pandas as pd

In [ ]:
#1.	Write a Pandas program to create and display 
#a one-dimensional array-like object containing an array of data using Pandas module.
a=pd.Series([1,2,3,4])
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#2.	Write a pandas program to convert a pandas module series to python list.
b=a.tolist()
print(b)
print("type of a : ",type(a))
print("type of b : ",type(b))

[1, 2, 3, 4]
type of a :  <class 'pandas.core.series.Series'>
type of b :  <class 'list'>

In [ ]:
#3.	Write a pandas program to add, subtract, multiple and divide two pandas series.
a=pd.Series([1,2,3,4])
b=pd.Series([5,6,7,8])
print("add : ",a+b)   #a.add(b)
print("sub : ",a-b)   #a.sub(b)
print("mul : ",a*b)   #a.mul(b)
print("div : ",a/b)   #a.div(b)

add :  0     6
1     8
2    10
3    12
dtype: int64
sub :  0   -4
1   -4
2   -4
3   -4
dtype: int64
mul :  0     5
1    12
2    21
3    32
dtype: int64
div :  0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

In [ ]:
#4.	Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series.
#Also find the length of the string values.
s=pd.Series(['Lakshmi','Narsitha','Yasaswini'])
print("lower : \n",s.str.lower())
print("upper : \n",s.str.upper())
print("length : \n",s.str.len())

lower :
 0      lakshmi
1     narsitha
2    yasaswini
dtype: object
upper :
 0      LAKSHMI
1     NARSITHA
2    YASASWINI
dtype: object
length :
 0    7
1    8
2    9
dtype: int64

In [ ]:
#5.	Write a Pandas program to remove whitespaces, 
#left sided whitespaces and right sided whitespaces of the string values of a given pandas series
s1=pd.Series(['  Lakshmi ','Yasaswini  ',' Lakshmi  Narsitha  '])
print("white space removal : ",s1.str.strip())
print("Left white space removal : ",s1.str.lstrip())
print("Right white space removal : ",s1.str.rstrip())

white space removal :  0              Lakshmi
1            Yasaswini
2    Lakshmi  Narsitha
dtype: object
Left white space removal :  0               Lakshmi
1            Yasaswini
2    Lakshmi  Narsitha
dtype: object
Right white space removal :  0               Lakshmi
1             Yasaswini
2     Lakshmi  Narsitha
dtype: object

In [16]:
#6.	Write a Pandas program to create and display a DataFrame consist of student name, father name , mobile number as columns 
#and register number as index.
d={"names":['Lakshmi','Narsitha','Yasaswini'],"father name":['Pran','Arjun','Vikranth'],"mobile":[989898989,898998998,9889122554]}
r={"regno":[69,777,1111]}
df=pd.DataFrame(d,index=r["regno"])
print(df)

          names father name      mobile
69      Lakshmi        Pran   989898989
777    Narsitha       Arjun   898998998
1111  Yasaswini    Vikranth  9889122554

In [12]:
#7.	Write a Pandas program to get list from DataFrame column headers.
print(list(df.columns.values))

['names', 'father name', 'mobile']

In [18]:
#8.	Write a Pandas program to change the name of the student.
df1=df.copy()
df1['names'][69]="Lakshmi Narsitha"
print(df1)

                 names father name      mobile
69    Lakshmi Narsitha        Pran   989898989
777           Narsitha       Arjun   898998998
1111         Yasaswini    Vikranth  9889122554

<ipython-input-18-cea0f595e301>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['names'][69]="Lakshmi Narsitha"

In [19]:
#9.	Write a Pandas program to insert a new column “grade” in existing DataFrame.
g=[10,9.86,10]
df.insert(3,"grade",g)
print(df)

          names father name      mobile  grade
69      Lakshmi        Pran   989898989  10.00
777    Narsitha       Arjun   898998998   9.86
1111  Yasaswini    Vikranth  9889122554  10.00

In [20]:
#10.Write a pandas program to create and display a dataframe from a specified dictionary data which has the index labels.
l=['a','b','c']
df1=pd.DataFrame(d,index=l)
print(df1)

       names father name      mobile
a    Lakshmi        Pran   989898989
b   Narsitha       Arjun   898998998
c  Yasaswini    Vikranth  9889122554